<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% if @item.image.present? %>
            <%= image_tag(@item.image , alt: @item.title) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: @item.title) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
      <div class="side-box">
        <h4 class="side-box-title">Likeしたユーザー</h4>
        <div class="side-box-body">
          <% @want_users.each do |user| %>
            <%= link_to(gravatar_for(user, size: 24), user) %>
          <% end %>
        </div>
        
        <%= @item.category.name %>
        <h4 class="side-box-title">おすすめポイント</h4>
        <%= @item.description %>
        
        <%= link_to "お店のページ", @item.url %>
      </div>
    </div>
  </div>
</div>
